a{
  text-decoration: none;
  color: #FF0000;
}

a:link {
  text-decoration: underline;
  color: #FF0000;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #FF0000;
}

a:active {
  text-decoration: none;
}

@font-face {
  font-family: 'Sansita';
  src:  url('Sansita-Bold.woff2') format('woff2'),
        url('Sansita-Bold.woff') format('woff');
}

.title{
  font-family: 'Sansita';
  font-size: 55px;
  padding-bottom: 15px;
  text-align: left;
}

.intro{
  font-family: charter;
  font-size: 16px;
  padding-top: 20px;
  text-align: left;
  width: 50%;
  line-height: 1.5;
}

.pubs{
  font-family: charter;
  font-size: 16px;
  padding-top: 20px;
  text-align: left;
  width: 50%;
  line-height: 1.7;
}

.projs{
  font-family: charter;
  font-size: 16px;
  padding-top: 20px;
  text-align: left;
  width: 50%;
  line-height: 1.5;
}

.homepage{
  display: flex;
  padding-top: 20px;
  flex-direction: column; /* center horizontally */
  align-items: left; /* center vertically */ 
  height: 90vh;
  width: 90vw;
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
}
